<!DOCTYPE html>
<html lang="he" style="direction:rtl">
<head>
    <meta charset="UTF-8">
    <title>Hebrew University Schedule Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='agenda.css') }}">
</head>
<body>


<div class="container">
    <!-- Left: Form Section -->
    <div class="form-section">

        <form onsubmit="return validateForm()" method="post" id="requestForm" action="/submit">
            <div id="formScroll">
                <label for="year">שנה</label>
                <input type="number" id="year" name="year" min="1900" max="2100" value="2025">


                <label for="semester">סמסטר</label>
                <input type="text" id="semester" name="semester" pattern="[AB]{1}" value="A">

                <label for="courseNumberInput">מספר הקורס:</label>
                <div class="course-entry">
                    <input type="text" id="courseNumberInput" maxlength="6" pattern="\d{1,6}"
                           placeholder="לדוגמה 80131..." value="">
                    <button type="button" onclick="addCourse()">הוספה</button>
                </div>


                <!-- Hidden input for submission -->
                <input type="hidden" name="courses" id="coursesHidden">

                <!-- Display added courses -->
                <div id="courseList" style="margin-top: 10px;"></div>


                <label for="maxDayLength">אורך יום מירבי:</label>
                <select id="maxDayLength" name="max_day_length"></select>

                <label for="minDayLength">אורך יום מינימלי:</label>
                <select id="minDayLength" name="min_day_length"></select>

                <label for="minFreeDays">מספר ימים חופשיים מינימלי:</label>
                <input type="number" id="minFreeDays" name="num_free_days" min="0">

                <div style="display: flex; gap: 20px;">
                    <div class="div_label">ימים חופשיים:</div>
                    <div style="text-align: center;">
                        <label for="cb0">א'</label><input type="checkbox" id="cb0" name="freeDay" value="0">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb1">ב'</label><input type="checkbox" id="cb1" name="freeDay" value="1">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb2">ג'</label><input type="checkbox" id="cb2" name="freeDay" value="2">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb3">ד'</label><input type="checkbox" id="cb3" name="freeDay" value="3">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb4">ה'</label><input type="checkbox" id="cb4" name="freeDay" value="4">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb5">ו'</label><input type="checkbox" id="cb5" name="freeDay" value="5">
                    </div>

                </div>

                <input type="hidden" name="free_days" id="free_days">
                <label for="globalStartTime">שעת התחלה מוקדמת ביותר:</label>
                <select id="globalStartTime" name="globalStartTime"></select>

                <div class="grouped">
                    <label for="dayWithBreakDayLength">אם אורך היום הוא לפחות:</label>
                    <select id="dayWithBreakDayLength" name="dayWithBreak_DayLength"></select>

                    <label for="dayWithBreakBreakLength">חייבת להיות בו הפסקה באורך לפחות:</label>
                    <select id="dayWithBreakBreakLength" name="dayWithBreak_BreakLength"></select>
                </div>
            </div>
            <div id="errorsContainer"></div>
            <div id="form_bottom_row">
                <div>
                    <button type="submit">בנו לי מערכת</button>
                </div>

            </div>

        </form>
        <div id="colorWheel" class="color-wheel"></div>
    </div>
    <!-- Right: Empty Div Section -->
    <div class="preview-section">
        <div id="agendaContainer">
            <h1>Hebrew University<br>Schedule Planner</h1>
        </div>


        <footer>
            <div>
                <button id="agenda_prev">אחורה</button>
            </div>

            <div id="schedule_number" style="direction: ltr">
                <span class="input" role="textbox" contenteditable id="cur_schedule_number"></span>
                <span id="schedule_total"></span>

            </div>
            <div>
                <button id="agenda_next">קדימה</button>
            </div>
            <div style="margin-right: auto">
                <button onClick="exportStyledTableToExcel('agenda')">ייצוא לאקסל</button>
                <button onclick="exportICS()">ייצוא ליומן</button>
            </div>
        </footer>

    </div>
</div>


<div id="jsonModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>

        <div id="editorContainer"></div>
        <button onclick="deletePoolDict()">🗑 Delete pool_dict</button>
    </div>
</div>


<script src="{{ url_for('static', filename='main.js') }}"></script>
<script src="{{ url_for('static', filename='export.js') }}"></script>
<!--<script src="{{ url_for('static', filename='webworker.js') }}"></script>-->
</body>
</html>

