<!DOCTYPE html>
<html lang="he" style="direction:rtl">
<head>
    <meta charset="UTF-8">
    <title>Hebrew University Schedule Planner</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/agenda.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">

</head>
<body>


<div class="container">
    <!-- Left: Form Section -->
    <div class="form-section">

        <form id="requestForm" method="post" onsubmit="return validateForm()">
            <div id="formScroll">
                <div>
                    <label for="year">שנה</label>
                    <input id="year" max="2100" min="1900" name="year" type="number" value="{{ current_year }}" disabled>
                </div>
                <div>
                    <label for="semesterA">סמסטר א'</label>
                    <input id="semesterA" name="semester" type="radio" value="SemesterA" checked>
                    <label for="semesterB">סמסטר ב'</label>
                    <input id="semesterB" name="semester" type="radio" value="SemesterB">

                </div>

                <div class="course-entry">
                    <label for="courseNumberInput">מספר הקורס:</label>
                    <input id="courseNumberInput" maxlength="6" pattern="\d{1,6}" placeholder="80131..."
                           type="text" value="">
                    <button onclick="addCourse()" type="button">הוספה</button>
                </div>

    <hr>
                <!-- Hidden input for submission -->
                <input id="coursesHidden" name="courses" type="hidden">

                <!-- Display added courses -->
                <div id="courseList" style="margin-top: 10px;"></div>

                <div>
                    <label for="maxDayLength">אורך יום מירבי:</label>
                    <select id="maxDayLength" name="max_day_length"></select>
                </div>
                <div>
                    <label for="minDayLength">אורך יום מינימלי:</label>
                    <select id="minDayLength" name="min_day_length"></select>
                </div>
                <div>
                    <label for="minFreeDays">מספר ימים חופשיים מינימלי:</label>
                    <input id="minFreeDays" min="0" name="num_free_days" type="number">
                </div>

                <div style="display: flex; gap: 20px;">
                    <div class="div_label">ימים חופשיים:</div>
                    <div style="text-align: center;">
                        <label for="cb0">א'</label><input id="cb0" name="freeDay" type="checkbox" value="0">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb1">ב'</label><input id="cb1" name="freeDay" type="checkbox" value="1">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb2">ג'</label><input id="cb2" name="freeDay" type="checkbox" value="2">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb3">ד'</label><input id="cb3" name="freeDay" type="checkbox" value="3">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb4">ה'</label><input id="cb4" name="freeDay" type="checkbox" value="4">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb5">ו'</label><input id="cb5" name="freeDay" type="checkbox" value="5">
                    </div>

                </div>

                <input id="free_days" name="free_days" type="hidden">
                <div>
                    <label for="globalStartTime">שעת התחלה מוקדמת ביותר:</label>
                    <select id="globalStartTime" name="globalStartTime"></select>
                </div>

                <div class="grouped">
                    <div>
                        <label for="dayWithBreakDayLength">אם אורך היום הוא לפחות:</label>
                        <select id="dayWithBreakDayLength" name="dayWithBreak_DayLength"></select>
                    </div>
                    <div>
                        <label for="dayWithBreakBreakLength">חייבת להיות בו הפסקה באורך לפחות:</label>
                        <select id="dayWithBreakBreakLength" name="dayWithBreak_BreakLength"></select>
                    </div>
                </div>
            </div>
            <div id="errorsContainer"></div>
            <div id="form_bottom_row">
                <div>
                    <button type="submit">בנו לי מערכת</button>
                </div>

            </div>

        </form>

        <div class="color-wheel" id="colorWheel"></div>
    </div>
    <!-- Right: Empty Div Section -->
    <div class="preview-section">
        <div id="agendaContainer">
            <div id="welcome">
                <span id="welcome_head">בונה מערכת שעות לאוניברסיטה העברית</span>
                <span id="welcome_head_small">ללא חפיפות</span>
                <span id="welcome_under">רק נותר לבחור</span>

            </div>
            <div id="credit">נבנה ע"י איתי ורשבסקי<br><a href="https://github.com/iwarshavsky">github</a></div>
        </div>
        <div id="msg_div"></div>


        <footer class="hidden">
            <div>
                <button id="agenda_prev">אחורה</button>
            </div>

            <div id="schedule_number" style="direction: ltr">
                <span class="input" contenteditable id="cur_schedule_number" role="textbox"></span>
                <span id="schedule_total"></span>

            </div>
            <div>
                <button id="agenda_next">קדימה</button>
            </div>
            <div style="margin-right: auto">
                <button onClick="exportStyledTableToExcel('agenda')">ייצוא לאקסל</button>
                <button onclick="exportICS()">ייצוא ליומן</button>
            </div>
        </footer>

    </div>
</div>


<div class="modal" id="jsonModal">
    <div id="modal-content">
        <div id="editorContainer"></div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/export.js') }}"></script>
<script src="{{ url_for('static', filename='js/course_editor.js') }}"></script>
<!--<script src="{{ url_for('static', filename='webworker.js') }}"></script>-->
</body>
</html>

