<!DOCTYPE html>
<html lang="he" style="direction:rtl">
<head>
    <meta charset="UTF-8">
    <title>Hebrew University Schedule Planner</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/agenda.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
</head>
<body>


<div class="container">
    <!-- Left: Form Section -->
    <div class="form-section">

        <form id="requestForm" method="post" onsubmit="return validateForm()">
            <div id="formScroll">
                <div>
                    <label for="year">שנה</label>
                    <input id="year" max="2100" min="1900" name="year" type="number" value="{{ current_year }}"
                           disabled>
                </div>
                <div>
                    <label for="semesterA">סמסטר א'</label>
                    <input id="semesterA" name="semester" type="radio" value="SemesterA" checked>
                    <label for="semesterB">סמסטר ב'</label>
                    <input id="semesterB" name="semester" type="radio" value="SemesterB">

                </div>

                <div class="course-entry">
                    <label for="courseNumberInput">מספר הקורס:</label>
                    <input id="courseNumberInput" maxlength="6" pattern="\d{1,6}" placeholder="80131..."
                           type="text" value="">
                    <button onclick="addCourse()" type="button">הוספה</button>
                </div>

                <hr>
                <!-- Hidden input for submission -->
                <input id="coursesHidden" name="courses" type="hidden">

                <!-- Display added courses -->
                <div id="courseList" style="margin-top: 10px;"></div>

                <div>
                    <label for="maxDayLength">אורך יום מירבי:</label>
                    <select id="maxDayLength" name="max_day_length"></select>
                </div>
                <div>
                    <label for="minDayLength">אורך יום מינימלי:</label>
                    <select id="minDayLength" name="min_day_length"></select>
                </div>
                <div>
                    <label for="minFreeDays">מספר ימים חופשיים מינימלי:</label>
                    <input id="minFreeDays" min="0" name="num_free_days" type="number">
                </div>

                <div style="display: flex; gap: 20px;">
                    <div class="div_label">ימים חופשיים:</div>
                    <div style="text-align: center;">
                        <label for="cb0">א'</label><input id="cb0" name="freeDay" type="checkbox" value="0">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb1">ב'</label><input id="cb1" name="freeDay" type="checkbox" value="1">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb2">ג'</label><input id="cb2" name="freeDay" type="checkbox" value="2">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb3">ד'</label><input id="cb3" name="freeDay" type="checkbox" value="3">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb4">ה'</label><input id="cb4" name="freeDay" type="checkbox" value="4">
                    </div>
                    <div style="text-align: center;">
                        <label for="cb5">ו'</label><input id="cb5" name="freeDay" type="checkbox" value="5">
                    </div>

                </div>

                <input id="free_days" name="free_days" type="hidden">
                <div>
                    <label for="globalStartTime">שעת התחלה מוקדמת ביותר:</label>
                    <select id="globalStartTime" name="globalStartTime"></select>
                </div>

                <div class="grouped">
                    <div>
                        <label for="dayWithBreakDayLength">אם אורך היום הוא לפחות:</label>
                        <select id="dayWithBreakDayLength" name="dayWithBreak_DayLength"></select>
                    </div>
                    <div>
                        <label for="dayWithBreakBreakLength">חייבת להיות בו הפסקה באורך לפחות:</label>
                        <select id="dayWithBreakBreakLength" name="dayWithBreak_BreakLength"></select>
                    </div>
                </div>
            </div>
            <div id="errorsContainer"></div>
            <div id="form_bottom_row">
                <div style="display: flex; flex-wrap: wrap-reverse; column-gap: 20px;">
                    <div style="height: fit-content; border-bottom: 1px dotted black;">
                        <a href="#" onclick="openModal_help()" style="text-decoration: none; color:inherit">הסבר</a>
                    </div>
                    <div style="height: fit-content; border-bottom: 1px dotted black;">
                        <a href="#" onclick="openModal_contact()" style="text-decoration: none; color:inherit">צרו קשר</a>
                    </div>
                    <button type="submit" style="margin-right:auto">בנו לי מערכת</button>
                </div>

            </div>

        </form>

        <div class="color-wheel" id="colorWheel"></div>
    </div>
    <!-- Right: Empty Div Section -->
    <div class="preview-section">
        <div id="agendaContainer">
            <div id="welcome">
                <span id="welcome_head">בונה מערכת שעות לאוניברסיטה העברית</span>
                <span id="welcome_head_small">ללא חפיפות</span>
                <span id="welcome_under">רק נותר לבחור</span>

            </div>
            <div id="credit">נבנה ע"י איתי ורשבסקי<br><a id="github" href="https://github.com/iwarshavsky">github</a>
            </div>
        </div>
        <div id="msg_div"></div>


        <footer class="hidden">
            <div>
                <button id="agenda_prev">אחורה</button>
            </div>

            <div id="schedule_number" style="direction: ltr">
                <span class="input" contenteditable id="cur_schedule_number" role="textbox"></span>
                <span id="schedule_total"></span>

            </div>
            <div>
                <button id="agenda_next">קדימה</button>
            </div>
            <div style="margin-right: auto">
                <button onClick="exportStyledTableToExcel('agenda')">ייצוא לאקסל</button>
                <button onclick="exportICS()">ייצוא ליומן</button>
            </div>
        </footer>

    </div>
</div>


<div class="modal" id="jsonModal">
    <div id="modal-content">
        <div id="editorContainer"></div>
        <div class="form-contact-div" id="form-contact-div">
            <form action="/contact" id="contact_form" class="form-container">
                <h1>יצירת קשר</h1>

                <input type="text" placeholder="שם" name="contact_name" id="contact_name" required>
                <input type="text" placeholder="כתובת מייל" name="contact_email" id="contact_email" required>
                <textarea wrap="soft" rows="5" cols="40" placeholder="מה תרצו לספר?" id="contact_message"
                          name="contact_message" required></textarea>

                <button type="submit" class="btn">שליחה</button>
            </form>
        </div>
        <div id="help-text-container">
            <h1>
                הסבר
            </h1>
            <p>
                הכלי הזה נועד להציג מערכות שעות שונות אפשריות שאין בהן חפיפות כלל בין הקורסים. כך ניתן פשוט לבחור מערכת במקום לבנות אחת עצמאית.</p>
<p>כדי להוסיף קורס יש להכניס את מספר הקורס. כדי לערוך את שעות הקורס, יש ללחוץ עליו לאחר ההוספה.</p>
<p>לאחר הוספת הקורסים ניתן לסנן את התוצאות על ידי הפרטמרטים השונים מתחת לרשימת הקורסים.</p>
<p>לא יהיו תוצאות אם קיימת חפיפה בכל סידור אפשרי או אם הפרטמטרים שמולאו לא מתקיימים.</p>
<p>לדוגמה, סטודנטים לשנה א' במדעי המחשב יופתעו לגלות שאין להם תוצאות כאשר מוזנים הקורסים לינארית 1 (80134) ואינפי 1 (80131) כי יש שעת חפיפה מובנית בין הקורסים בימי חמישי. עליכם להסיר שעה זו מאחד הקורסים וכך לא תיווצר חפיפה.</p>
<p>מה יתווסף בעתיד – התייחסות ללוח מבחנים, ציון החפיפות והגדרת חפיפה מינימלית רצויה.</p>
<p><small>המידע שעליו מתבסס הכלי נלקח ישירות מאתר השנתון של האוניברסיטה העברית (<a href="https://shnaton.huji.ac.il" target="_blank">shnaton.huji.ac.il</a>) לרווחת הסטודנטים של האוניברסיטה העברית ואין לי עליו שום זכויות.</small></p>





        </div>
    </div>

</div>


<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/export.js') }}"></script>
<script src="{{ url_for('static', filename='js/course_editor.js') }}"></script>
<!--<script src="{{ url_for('static', filename='webworker.js') }}"></script>-->
</body>
</html>

